
.theme h4,
.plugin h4 {
	margin: 0;
}

.theme,
.plugin,
.site-info {
	padding: 0.5em;
}

.theme:hover,
.plugin:hover,
.site-info:hover {
	background-color:#ccc;
}

.site-info .admin-links {
	float:right;
}

.sites-stats table {
  border-collapse: collapse;
  width: 99%;
  margin-left:1%;
}

.sites-stats .column-name{
	text-align:left;
}

tr:nth-child(even){
	background-color: #DDD
}

.sites-stats td{
	font-weight:600;
}

.count{
	text-align:center;
	padding: 5px 5% 5px 0;
}

.cell-space{
	padding: 5px 5% 5px 0;
}

.hidden{
	display:none;
}